/*
/* 此样式表用于覆盖 github-markdown.css 库样式表
/* 注意引入顺序
*/

.markdown-body {
	padding: 0 20px;
	
	
}

.markdown-body pre {
	background: hsl(0, 57%, 85%);
}

.markdown-body .hljs-keyword, .markdown-body .hljs-built_in {
	color: blue;
}